*{
      margin : 0;
      padding : 0;
      box-sizing : border-box ;
}
header{
      width: 100%;
      padding: 5px;
      background-color:dodgerblue;
      text-align: center;
      color: white;
}
footer{
      width: 100%;
      padding: 3px;
      background-color: darkblue;
      text-align: center;
      color: white;
}
#bio{
      width: 50%;
      background-color: dodgerblue;
      color: white;
      align-items:      

}
#main-title{
 
      

}
#description{
      
}
nav{
      width: 5%;
      background-color: dodgerblue;
      color: white;
      align-items:
}
a:visited {
      color: white;
    }